<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>#historiascondatos - ¿Qué hay detrás de los datos abiertos? </title>
    <meta name="description" content="Una nueva forma de descubrir los datos de la ciudad.">
    
    <script src="libs/aframe.min.js"></script>
    <script src="libs/aframe-animation-component.min.js"></script> 
    <script src="libs/aframe-event-set-component.js"></script>
    <script src="libs/aframe-layout-component.min.js"></script> 
    <script src="libs/aframe-template-component.min.js"></script> 
    <script src="libs/aframe-look-at-component.min.js"></script>
    <script src="https://unpkg.com/aframe-border-component@0.1.3/dist/aframe-border-component.min.js"></script>   

    <script src="libs/d3/d3.min.js"></script>
    <script src="libs/nunjucks.min.js"> </script>
    <script src="components/set-image.js"></script>
    <script src="components/show-detail.js"></script>
    <script src="components/go-to-lobby.js"></script>
    <script src="components/go-to-matrix.js"></script>
    <script src="components/go-to-trip.js"></script>
    <script src="components/show-matrix.js"></script>
  </head>
  <body>
    <a-scene  light="defaultLightsEnabled: false">
      <a-assets>
        
        <audio id="click-sound" crossorigin="anonymous" src="https://cdn.aframe.io/360-image-gallery-boilerplate/audio/click.ogg"></audio>
        
        
        <img id="administracion-sphere" crossorigin="anonymous" src="stories/01/borges/img/bgEscena1.jpg">
        <img id="salud-sphere" crossorigin="anonymous" src="stories/01/eternauta/02-01-devoto-4.jpg">
        <img id="ambiente-sphere" crossorigin="anonymous" src="stories/01/santelmo/img/bgEscena1.jpg">
         <img id="obra-sphere" crossorigin="anonymous" src="images/360-detail/obras/5100-d.png">
        <img id="salud-sphere" crossorigin="anonymous" src="stories/01/eternauta/02-01-devoto-4.jpg">
        <img id="ambiente-sphere" crossorigin="anonymous" src="stories/01/santelmo/img/bgEscena1.jpg">
         <img id="cultura-sphere" crossorigin="anonymous" src="stories/01/borges/img/bgEscena1.jpg">
        <img id="salud-sphere" crossorigin="anonymous" src="stories/01/eternauta/02-01-devoto-4.jpg">
        <img id="educacion-sphere" crossorigin="anonymous" src="stories/01/eternauta/02-01-devoto-4.jpg">
         <img id="urbanismo-sphere" crossorigin="anonymous" src="stories/01/borges/img/bgEscena1.jpg">
          <img id="seguridad-sphere" crossorigin="anonymous" src="stories/01/santelmo/img/bgEscena1.jpg">
         <img id="movilidad-sphere" crossorigin="anonymous" src="stories/01/eternauta/02-01-devoto-4.jpg">
         <img id="actividad_economica-sphere" crossorigin="anonymous" src="stories/01/santelmo/img/bgEscena1.jpg">
          
        <img id="lobby" crossorigin="anonymous" src="images/lobby/00.png">


        <img id="administracion-thumb" crossorigin="anonymous" src="images/posters/poster-administracion.png">
        <img id="ambiente-thumb" crossorigin="anonymous" src="images/posters/poster-ambiente.png">
        <img id="cultura-thumb" crossorigin="anonymous" src="images/posters/poster-cultura.png">
        <img id="actividad_economica-thumb" crossorigin="anonymous" src="images/posters/poster-economica.png">
        <img id="educacion-thumb" crossorigin="anonymous" src="images/posters/poster-educacion.png">
        <img id="movilidad-thumb" crossorigin="anonymous" src="images/posters/poster-movilidad.png">
        <img id="obra-thumb" crossorigin="anonymous" src="images/posters/poster-obra.png">
        <img id="salud-thumb" crossorigin="anonymous" src="images/posters/poster-salud.png">
        <img id="urbanismo-thumb" crossorigin="anonymous" src="images/posters/poster-urbanismo.png">
        <img id="seguridad-thumb" crossorigin="anonymous" src="images/posters/poster-seguridad.png">

        <img id="administracion-base" crossorigin="anonymous" src="images/base/administracion-base.png">
        <img id="ambiente-base" crossorigin="anonymous" src="images/base/ambiente-base.png">
        <img id="cultura-base" crossorigin="anonymous" src="images/base/cultura-base.png">
        <img id="actividad_economica-base" crossorigin="anonymous" src="images/base/actividad_economica-base.png">
        <img id="educacion-base" crossorigin="anonymous" src="images/base/educacion-base.png">
        <img id="movilidad-base" crossorigin="anonymous" src="images/base/movilidad-base.png">
        <img id="obra-base" crossorigin="anonymous" src="images/base/obras-base.png">
        <img id="salud-base" crossorigin="anonymous" src="images/base/salud-base.png">
        <img id="urbanismo-base" crossorigin="anonymous" src="images/base/urbanismo-base.png">
        <img id="seguridad-base" crossorigin="anonymous" src="images/base/seguridad-base.png">

        <img id="start" src="images/destacado.png">

 
        <script id="dataset-detail-menu" type="text/x-nunjucks-template">
            <a-entity layout="type: box;align:start; columns:1;reverse:true; margin: 0.6; plane:xy;" position="0 -1.5 0">
                <a-text color="black" value="{{currentDetail.titulo}}" width="4" word-wrap="30" align="center"></a-text>

                   <a-text color="black" value="{{currentDetail.descripcion}}" width="3.5" wrap-count="40" align="center"></a-text>
              <a-text color="black" value="{{currentDetail.tamanio}} filas" align="center"></a-text>
                <a-text color="black" value="{{currentDetail.frecuencia}}" align="center"></a-text>
                
                <a-text color="black" width="4" value="{{currentDetail.autoridad}}" align="center"></a-text>
               
                <a-entity>
                   
                    <!-- Trip  -->
                  {% if currentDetail.isDestacado %}

                  <a-entity position="0 0 0.22" go-to-{{currentDetail.destacado}}="on: click;item:{{currentDetail.id}}"
                      event-set__1="_event: mousedown; scale: 1 1 1"
                      event-set__2="_event: mouseup; scale: 1.2 1.2 1"
                      event-set__3="_event: mouseenter; scale: 1.2 1.2 1"
                      event-set__4="_event: mouseleave; scale: 1 1 1" geometry="primitive: plane; width: 3; height: 0.5;" material="shader: flat; color: {{currentCategory.color}}" 
                  sound="on: click; src: #click-sound"
                  position="0 0 0" color="white" text="value: Explora una muestra; align:center">
                  </a-entity>
                  {% else %}
                   <a-entity position="0 0 0.22"
                      geometry="primitive: plane; width: 3; height: 0.5;" material="shader: flat;" 
                      position="0 0 0" text="color:{{currentCategory.color}};value:Busca otro dataset para explorar; align:center">
                      </a-entity>
                  {% endif %}

                </a-entity>
        
        </script>

        <script id="row-detail" type="text/x-nunjucks-template">
          <a-entity geometry="primitive: plane; width: 4; height: 4;" material="shader: flat; color: transparent">
            <a-entity layout="type: box;align:end; columns:2;reverse:true; margin: 0.275; plane:xy;" position="-0.75 -1.75 0">
                {% for x in currentDetailRowDetail %}
                <a-text color="white" value="{{x.value}}" width="2.65" word-wrap="30" align="left"></a-text>
                <a-text color="white" value="{{x.key}}" width="3" word-wrap="35" align="right"></a-text>
                {% endfor %}
                <a-entity>
              </a-entity>
          </a-entity>
          </a-entity>
        </script>
        
        <script id="trip-menu" type="text/x-nunjucks-template">
          <!-- <a-entity position="0 4 0" layout="type: circle; radius: 4; plane:xz;">
              {% for x in range(0,5) %}
                <a-entity look-at="[camera]" template="src: #poster" data-src="#lobby" data-thumb="#{{currentCategory.key}}-thumb"></a-entity>
               {% endfor %}
          </a-entity> -->
          {% for row in currentTrip %}
          {% set loopIndex = loop.index0 %}
          <a-entity>
          
          {% if loopIndex == 0 %}
            <a-entity opacity="1" position="0 -1.195 0" layout="type: circle; radius: 6; plane:xz;" opacity="0">
              {% for x in range(0,4) %}
                <a-entity look-at="[camera]" geometry="primitive: plane; width: 5; height: 0.5;" material="shader: flat; color: black" sound="on: click; src: #click-sound"
                    position="0 0 0" color="black">


                    <a-text value="{{row.nombre}}" width="3" align="center"> <a-animation attribute="opacity" 
                        delay="10000"
                         dur="10000"
                         from="1"
                         to="0"></a-animation>
                         <a-animation attribute="visible" 
                         delay="20000"
                         to="false"></a-animation>

                       </a-text>

                      <a-animation attribute="opacity" 
                        delay="10000"
                         dur="10000"
                         from="1"
                         to="0"></a-animation>
                        <a-animation attribute="visible" 
                         delay="20000"
                         to="false"></a-animation>
                    </a-entity>
              {% endfor %}

               
            </a-entity>
            <a-sky radius="60" src="images/360-detail/{{currentDetail.code}}/{{row.imagen}}" color="white" opacity="1">
               <a-animation attribute="opacity" 
                delay="{{(loopIndex+1)*10000}}"
                 dur="10000"
                 from="1"
                 to="0"></a-animation>
            </a-sky>
            {% else %}
            <a-entity opacity="0" position="0 -1.195 0" layout="type: circle; radius: 6; plane:xz;" opacity="0">
              {% for x in range(0,4) %}
                  <a-entity look-at="[camera]" opacity="0" geometry="primitive: plane; width: 5; height: 0.5;" material="shader: flat; color: black" 
                      sound="on: click; src: #click-sound"
                      position="0 0 0" color="black">
                      <a-text opacity="0" value="{{row.nombre}}" width="3" align="center">
                       <a-animation attribute="opacity" 
                         delay="{{loopIndex*10000}}"
                         dur="10000"
                         from="0"
                         to="1"></a-animation>
                       <a-animation attribute="opacity" 
                        delay="{{(loopIndex+1)*10000}}"
                         dur="10000"
                         from="1"
                         to="0"></a-animation>
                         <a-animation attribute="visible" 
                         delay="{{(loopIndex+2)*10000}}"
                         to="false"></a-animation>
                      </a-text>
                      <a-animation attribute="material.opacity" 
                   delay="{{loopIndex*10000}}"
                   dur="10000"
                   from="0"
                   to="1"></a-animation>
                 <a-animation attribute="material.opacity" 
                  delay="{{(loopIndex+1)*10000}}"
                   dur="10000"
                   from="1"
                   to="0"></a-animation>
                   <a-animation attribute="visible" 
                         delay="{{(loopIndex+2)*10000}}"
                         to="false"></a-animation>
                      </a-entity>
              {% endfor %}
              
            </a-entity>
             <a-sky radius="60" src="images/360-detail/{{currentDetail.code}}/{{row.imagen}}" color="white" opacity="0">
              <a-animation attribute="opacity" 
                delay="{{loopIndex*10000}}"
                 dur="10000"
                 from="0"
                 to="1"></a-animation>
               <a-animation attribute="opacity" 
                delay="{{(loopIndex+1)*10000}}"
                 dur="10000"
                 from="1"
                 to="0"></a-animation>
            </a-sky>
          {% endif %}
          </a-entity>

          {% endfor %}
           
        </script>


        <script id="dataset-menu" type="text/x-nunjucks-template">
           <!--  <a-entity position="0 4 0" layout="type: circle; radius: 4; plane:xz;">
              {% for x in range(0,5) %}
                <a-entity look-at="[camera]" template="src: #poster" data-src="#lobby" data-thumb="#{{currentCategory.key}}-thumb"></a-entity>
               {% endfor %}
          </a-entity> -->
        {% for item in matrixArray %} 
        {% set loopIndex = loop.index0 %}

        <a-entity position="0 {{(loopIndex*0.5) -1.5}} 0" layout="type: circle; radius: 4; plane:xz;">
          {% for x in item %}
       
          <a-entity look-at="[camera]" geometry="primitive: plane; height: 0.2; width: 0.8" material="side: double">
              <a-entity>
                  <a-entity class="item" position="0 0 1" scale="0.15 0.15 0.15" geometry="primitive: plane; width: 4; height: 4;" material="side:double; shader: flat; color: {{currentCategory.color}};" show-matrix="on: click;item:{{x.index}}"  event-set__1="_event: mousedown; position: 0 0 1"
                      event-set__2="_event: mouseup; position: 0 0 2"
                      event-set__3="_event: mouseenter; position: 0 0 2"
                      event-set__4="_event: mouseleave; position: 0 0 1">
                    <a-entity class="poster" geometry="primitive: plane; width: 4; height: 4;" material="side: front">
                      <a-text class="label" color="white" align="center" color="black" value="{{x.index}}"  width="3.5" wrap-count="15" align="center"></a-text>
                     </a-entity>
                    <a-entity class="detail" geometry="primitive: plane; width: 4; height: 4;" material="side: front">
                      
                     </a-entity>
                  </a-entity>
                </a-entity>
                <a-entity>
                  <a-entity layout="type: box;align:start; columns:1;reverse:true; margin: 0.6; plane:xy;">
                    <a-entity material="side:double; shader: flat; color: white" >
                  </a-entity>
                </a-entity>
              </a-entity>
          </a-entity>
          {% endfor %}
        </a-entity>
        {% endfor %}
        
        </script>
        


        <script id="rectangle-menu" type="text/x-nunjucks-template">
            {% set animationBaseMl = 400%}
          <!--     <a-entity position="0 4 0" layout="type: circle; radius: 4; plane:xz;">
              {% for x in range(0,5) %}
                <a-entity look-at="[camera]" template="src: #poster" data-src="#lobby" data-thumb="#{{currentCategory.key}}-thumb"></a-entity>
               {% endfor %}
          </a-entity> -->
           <a-entity layout="type: circle; radius: 8; plane:xz;"  position="0 0.35 0">
            {% for x in currentCategory.firstGroup %}
            {% set loopIndex = loop.index0 %}
            <a-entity look-at="[camera]" layout="type: box; columns:1; margin: ; plane:xy;">
                <a-entity>
                  <a-entity class="item" position="0 0 1" scale="0 0 0" geometry="primitive: plane; width: 4; height: 4;" material="side:double; shader: flat; color: {{currentCategory.color}};" show-detail="on: click;item:{{x.id}}"  >
                    <a-animation attribute="scale" 
                        delay="{{loopIndex*(animationBaseMl-220) + animationBaseMl-220}}"
                         dur="{{animationBaseMl}}"
                         begin="category-start"
                         from="0 0 0"
                         to="0.4 0.4 0.4"></a-animation>
                    <a-entity geometry="primitive: plane; width: 4; height: 4;" material="shader: flat;">
                      <a-text color="white" align="center" color="black" value="{{x.titulo}}"  width="3.5" wrap-count="15" align="center"></a-text>
                      {% if x.isDestacado %}
                      <a-entity position="0 -1.33 0.2">
                    <!-- Using the asset management system. -->
                         <a-entity geometry="primitive: plane" material="shader: flat; color: {{currentCategory.color}}; src: #start; width:1; height:1;"></a-entity>

                    </a-entity>
                     {% endif %}
                     </a-entity>
                     <a-entity class="detail" position="0 0 -0.3" rotation="0 180 0" geometry="primitive: plane; width: 4; height: 4;" material="opacity:1;shader:flat;color:black" visible="true" >
                       <a-entity position="0 0 0.22" go-to-{{x.destacado}}="on: click;item:{{x.id}};"
                      event-set__1="_event: mousedown; scale: 1 1 1"
                      event-set__2="_event: mouseup; scale: 1.2 1.2 1"
                      event-set__3="_event: mouseenter; scale: 1.2 1.2 1"
                      event-set__4="_event: mouseleave; scale: 1 1 1" geometry="primitive: plane; width: 3; height: 0.5;" material="shader: flat; color: {{currentCategory.color}}" 
                  sound="on: click; src: #click-sound"
                  position="0 0 0" color="white" text="value: Explora una muestra; align:center">
                </a-entity>
                     </a-entity>
                  </a-entity>
                </a-entity>
                <a-entity>
                  <a-entity layout="type: box;align:start; columns:1;reverse:true; margin: 0.6; plane:xy;">
                    <a-entity material="side:double; shader: flat; color: white" >
                      {% for z in range(0,x.barLength) %}
                      <a-entity position="0 {{z*0.25 + 0.2}} 0" geometry="primitive: plane;  width: 1.8; height: 0.22;"  material="side:double; shader: flat; color: white; opacity:0.75" >
                      </a-entity>
                      {% endfor %}
                    
                   
                  </a-entity>
                </a-entity>
              </a-entity>
                 
                 
            </a-entity>
            {% endfor %}
       
            </a-entity>

         <a-entity layout="type: circle; radius: 8; plane:xz;"  position="0 -0.85 0">
             {% for x in currentCategory.secondGroup %}
             {% set loopIndex = loop.index0 %}
            <a-entity look-at="[camera]" layout="type: box; columns:1; margin: ; plane:xy;">
                <a-entity>
                  <a-entity class="item" position="0 0 1" scale="0 0 0" geometry="primitive: plane; width: 4; height: 4;" material="side:double; shader: flat; color: {{currentCategory.color}};" show-detail="on: click;item:{{x.id}}"   >
                     <a-animation attribute="scale" 
                        delay="{{loopIndex*(animationBaseMl-220) + animationBaseMl-220}}"
                         dur="{{animationBaseMl}}"
                         begin="category-start"
                         from="0 0 0"
                         to="0.4 0.4 0.4"></a-animation>
                    <a-entity geometry="primitive: plane; width: 4; height: 4;" material="side: front">
                      <a-text color="white" align="center" color="black" value="{{x.titulo}}"  width="3.5" wrap-count="15" align="center"></a-text>
                    
                     </a-entity>
                     <a-entity class="detail" position="0 0 -0.2" rotation="0 180 0" geometry="primitive: plane; width: 4; height: 4;" material="side: front">
                     </a-entity>
                  </a-entity>
                </a-entity>
                <a-entity>
                  <a-entity layout="type: box;align:start; columns:1;reverse:true; margin: 0.6; plane:xy;">
                    <a-entity material="side:double; shader: flat; color: white" >
                      {% for z in range(0,x.barLength) %}
                      <a-entity position="0 -{{z*0.25+2.25}} 0" geometry="primitive: plane;  width: 1.8; height: 0.22;"  material="side:double; shader: flat; color: white; opacity:0.75" >
                      </a-entity>
                      {% endfor %}
                    
                   
                  </a-entity>
                </a-entity>
              </a-entity>
                
            </a-entity>
            {% endfor %}
       
            </a-entity>
     
        </script>

     <!-- Image link template to be reused. -->
      <script id="circle-menu" type="text/x-nunjucks-template">
        <a-entity layout="type: circle; radius: 6; plane:xz;">
            
            {% for x in categories %}
               <a-entity look-at="[camera]" template="src: #link" data-src="#{{x.key}}-sphere" data-link="{{x.key}}" data-thumb="#{{x.key}}-thumb" data-percentage="{{x.percentage}}" data-count="{{x.values.length}}" data-rows="{{x.rowsLabel}}"></a-entity>
            {% endfor %}
             
      </a-entity>
     
        </script>
      
        <!-- Image link template to be reused. -->
        <script id="poster" type="text/html">
          <!-- <a-entity layout="type: line;columns:1; margin: 0.25;"> -->
          <a-entity look-at="[camera]" class="link"
            geometry="primitive: plane; height: 2; width: 1.3"
            material="side:double;shader: flat; src: ${thumb}"
            event-set__1="_event: mousedown; scale: 1 1 1"
            event-set__2="_event: mouseup; scale: 1.2 1.2 1"
            event-set__3="_event: mouseenter; scale: 1.2 1.2 1"
            event-set__4="_event: mouseleave; scale: 1 1 1"
            go-to-lobby="on: click; target: #image-360; src: ${src}"
            sound="on: click; src: #click-sound"></a-entity>
          <!-- </a-entity> -->
        </script>
      </a-assets>
        
        <!-- Image link template to be reused. -->
        <script id="link" type="text/x-nunjucks-template">
          
          <a-entity look-at="[camera]" class="link"
            geometry="primitive: plane; height: 2.5; width: 2"
            material="side:double;shader: flat; src: {{thumb}}"
            event-set__1="_event: mousedown; scale: 1 1 1"
            event-set__2="_event: mouseup; scale: 1.2 1.2 1"
            event-set__3="_event: mouseenter; scale: 1.2 1.2 1"
            event-set__4="_event: mouseleave; scale: 1 1 1"
            set-image="on: click; link:{{link}};target: #image-360; src: {{src}}"
            sound="on: click; src: #click-sound"
            "></a-entity>
              <a-entity>
                  <a-entity position="0.012676036232893928 1.5   0.00863929409054304" layout="type: box;align:start; columns:1;reverse:true; margin: 0; plane:xy;">
                    <a-entity material="side:double; shader: flat; color: white" >
                      {% for x in range(0,count) %}
                      <a-entity position="0 {{x/3.5 + 0.425}} 0" geometry="primitive: plane;  width: 2; height: 0.25;"  material="side:double; shader: flat; color: white" >
                      </a-entity>
                      {% endfor  %}
                  </a-entity>
                </a-entity>
              </a-entity>
            <a-entity look-at="[camera]" position="0.012676036232893928 1.509007219788657 0.00863929409054304"  geometry="primitive: plane; width: 2; height: 0.35;" material="shader: flat; color: white">
              <a-text color="black" value="{{count}} datasets" align="center" text=""></a-text>
            </a-entity>
            <a-entity look-at="[camera]" position="0.012676036232893928 -1.513 0.00863929409054304" geometry="primitive: plane; width: 2; height: 0.35;" material="shader: flat; color: white">
              <a-text color="black" value="{{rows}} filas" align="center" text=""></a-text>
            </a-entity>
          <!-- </a-entity> -->
        </script>
      </a-assets>


      <!-- 360-degree image. -->
      <a-sky id="image-360" rotation="0 14 0" radius="60" src="#lobby" color="white"></a-sky>
      <!-- Miradas Logo -->
       <a-entity  id="circle-floor" 
       go-to-lobby="on: click; target: #image-360; src: #lobby;"
       class="floor" rotation="-90 0 0" position="0 -1.195 0" geometry="primitive: circle; radius: 1" material="shader: flat; color: white; width:1; height:1; opacity: 0.6;"></a-entity>

      <a-entity id="lobby-circle"></a-entity> 
      <a-entity id="category-circle"></a-entity> 
      <a-entity id="detail-circle"></a-entity> 
      <a-entity id="trip-detail"></a-entity> 


      <!-- Camera + cursor. -->
      <a-entity camera look-controls>
        <a-cursor id="cursor"
          animation__click="property: scale; startEvents: click; from: 0.1 0.1 0.1; to: 1 1 1; dur: 150"
          animation__fusing="property: fusing; startEvents: fusing; from: 1 1 1; to: 0.1 0.1 0.1; dur: 150"
          event-set__1="_event: mouseenter; color: springgreen"
          event-set__2="_event: mouseleave; color: black"
          fuse="true"></a-cursor>
      </a-entity>
    </a-scene>
    <script src="components/main.js"></script>
  </body>
</html>
